<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="m.cmp.appManager.argocd.mapper.ArgocdAppMapper">

    <insert id="insertArgocdApp" useGeneratedKeys="true" keyProperty="applicationId" parameterType="ArgocdApp">
		INSERT INTO argocd_app (
			  deploy_id
		    , k8s_id
		    , project_name
		    , application_name
		    , server
		    , namespace
		    , repo_url
		    , repo_path
		    , repo_target_revision
		) VALUES(
			  #{deployId}
			, #{k8sId}
			, #{projectName}
			, #{applicationName}
			, #{server}
			, #{namespace}
			, #{repoUrl}
			, #{repoPath}
			, #{repoTargetRevision}
		)
    </insert>

    <select id="selectArgocdApp" resultType="ArgocdApp" parameterType="int">
		SELECT
		      application_id
		    , deploy_id
		    , k8s_id
		    , project_name
		    , application_name
		    , server
		    , namespace
		    , repo_url
		    , repo_path
		    , repo_target_revision
        FROM  argocd_app
       WHERE  deploy_id = #{deployId}
    </select>

    <delete id="deleteArgocdApp" parameterType="int">
        DELETE FROM argocd_app WHERE deploy_id = #{deployId}
    </delete>

    <!-- 카탈로그 배포 > ArgoCd Application -->
    <select id="selectCatalogArgocdApplication" parameterType="int" resultType="ArgocdApp">
        /* ArgocdAppMapper.selectCatalogArgocdApplication */
        SELECT  catalog_application_id      AS applicationId
               ,catalog_deploy_id           AS deployId
               ,application_name
               ,project_name
               ,repo_url
               ,repo_target_revision
               ,repo_path
               ,server
               ,namespace
          FROM argocd_app
         WHERE catalog_deploy_id = #{catalogDeployId}
    </select>
    
    <insert id="insertCatalogArgocdApplication" parameterType="ArgocdApp" useGeneratedKeys="true" keyColumn="catalog_application_id" keyProperty="applicationId">
        /* ArgocdAppMapper.insertCatalogArgocdApplication */
        INSERT INTO argocd_app (
                 catalog_deploy_id
                ,application_name
                ,project_name
                ,repo_url
                ,repo_target_revision
                ,repo_path
                ,server
                ,namespace
        ) VALUES ( 
                 #{deployId}
                ,#{applicationName}
                ,#{projectName}
                ,#{repoUrl}
                ,#{repoTargetRevision}
                ,#{repoPath}
                ,#{server}
                ,#{namespace}
        )
    </insert>
    
    <delete id="deleteCatalogArgocdApplication" parameterType="int">
        /* ArgocdAppMapper.deleteCatalogArgocdApplication */
        DELETE FROM argocd_app
         WHERE catalog_deploy_id = #{deployId}
    </delete>
</mapper>