<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="m.cmp.appManager.catalog.mapper.SwCatalogMapper">

<!--

tempDDL

CREATE TABLE `sw_catalog` (
	sc_idx INT not null auto_increment,
	sc_title VARCHAR(200) not null,
	sc_version VARCHAR(100) not null,
	sc_icon VARCHAR(100) null,
	sc_summary VARCHAR(500) null,
	sc_location VARCHAR(100) null,
	sc_reference VARCHAR(100) null,
	sc_description TEXT null,
	sc_category INT not null default 0,
	sc_regdate DATETIME not null default DATETIME(),
	PRIMARY KEY("sc_idx")
);

CREATE TABLE `sw_catalog_relation_workflow` (
	sc_idx INT not null,
	workflow_idx INT not null
);

create table `sw_catalog_relation_catalog` (
	sc_idx INT not null,
	ref_idx INT not NULL
);


-->


    <sql id="selectSwCatalogField">
        sc_idx,
        sc_title,
        sc_version,
        sc_icon,
        sc_summary,
        sc_location,
        sc_reference,
        sc_description,
        sc_category
    </sql>

    <select id="selectSwCatalogList" resultType="SwCatalog">
        SELECT
        <include refid="selectSwCatalogField" />
        FROM sw_catalog AS sc
        WHERE 1=1
        <if test="scTitle != null">
            AND sc_title LIKE '%${scTitle}%'
        </if>
        ORDER BY sc.sc_idx DESC
    </select>

    <select id="selectSwCatalogDetail" resultType="SwCatalogDetail">
        SELECT
        <include refid="selectSwCatalogField" />
        FROM sw_catalog AS sc
        WHERE sc_idx = ${scIdx}
    </select>


    <insert id="insertSwCatalog" parameterType="SwCatalogDetail" useGeneratedKeys="true" keyColumn="sw_catalog" keyProperty="scIdx">
        INSERT INTO sw_catalog(sc_title, sc_version, sc_icon, sc_summary, sc_location, sc_reference, sc_description, sc_category)
        VALUES(#{scTitle}, #{scVersion}, #{scIcon}, #{scSummary}, #{scLocation}, #{scReference}, #{scDescription}, #{scCategory})
    </insert>


    <delete id="deleteSwCatalog">
        DELETE FROM sw_catalog WHERE sc_idx = ${scIdx}
    </delete>

    <update id="updateSwCatalog">
        UPDATE sw_catalog
        SET sc_summary = ${sc_summary}
        WHERE sc_idx = ${scIdx}
    </update>



    <select id="selectLastInsertId" resultType="Integer">
        SELECT LAST_INSERT_ID();
    </select>



    <select id="selectRelationSwCatalogList" resultType="SwCatalogDetail">
        SELECT sc_idx, sc_title, sc_version, sc_icon, sc_summary
        FROM sw_catalog
        WHERE sc_idx IN (SELECT ref_idx FROM sw_catalog_relation_catalog WHERE sc_idx = ${scIdx})
    </select>

    <insert id="insertSwCatalogRelationCatalog">
        INSERT INTO sw_catalog_relation_catalog(sc_idx, ref_idx)
        VALUES(${scIdx}, ${refIdx})
    </insert>

    <delete id="deleteSwCatalogRelationCatalog">
        DELETE FROM sw_catalog_relation_catalog WHERE sc_idx = ${sc_idx} AND ref_idx = ${refIdx}
    </delete>



    <insert id="insertSwCatalogRelationWorkflow">
        INSERT INTO sw_catalog_relation_workflow(sc_idx, ref_idx)
        VALUES(${scIdx}, ${refIdx})
    </insert>

    <delete id="deleteSwCatalogRelationWorkflow">
        DELETE FROM sw_catalog_relation_workflow WHERE sc_idx = ${sc_idx} AND ref_idx = ${refIdx}
    </delete>



</mapper>